define host {
        use                             base-host
        host_name                       {{ MACHINE_NAME }}.loggly.net
        alias                           {{ MACHINE_NAME }}.loggly.net ({{ ansible_eth0.ipv4.address }})
        address                         {{ ansible_eth0.ipv4.address }}
}
